# Has the network latency gone up since we switched internet service providers?
- Null Hypothesis: latency has not changed
- Alternate Hypothesis:latency has gone up
- True Positive: latency has increased
- True Negative: latency has not changed even after changing ISP
- Type1 Error: shows change in ISp increased latency while it really did not
- Type2 Error: shows change in ISP has no effect when it really did

# Is the website redesign any good?


- Null Hypothesis: redesign has no significant impact 
- Alternate Hypothesis: redesign has positive impact
- True Positive:redesign has 
- True Negative: null hypothesis not rejected but seen positive impact
- Type1 Error: no any postive impact while we assumed it has
- Type2 Error: positive impact up but we assumed it has not

# Is our television ad driving more sales?

- Null Hypothesis: sales have not increased
-  Alternate Hypothesis: sales have increased
-  True Positive: sales have increased due to ad
-  True Negative: sales have not changed due to ad
-  Type1 Error: sales increased but not because of tv ad
-  Type2 Error: shows ad has no positive effect when in reality it has

### Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance

In [2]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
alpha = 0.05
# hypothesis
#Ho:Average time to sale home in office 1 <= average time to sale in 2nd office
#Ha: Average time to sale home in 1st office > average time to sale in 2nd office

In [4]:
office_1 = stats.norm(90, 15).rvs(40)
office_2 = stats.norm(100, 20).rvs(50)

In [7]:
stats.ttest_ind(office_1,office_2)

Ttest_indResult(statistic=-2.6592520611780754, pvalue=0.009303805210151025)

In [10]:
# Load the mpg dataset and use it to answer the following questions:
from pydataset import data
mpg = data('mpg')
mpg =pd.DataFrame(mpg)
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [11]:
mpg['average_mileage']= (mpg.cty + mpg.hwy)/2
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0

In [12]:
# Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
cars_1999 = mpg[mpg.year == 1999].average_mileage
cars_2008 = mpg[mpg.year == 2008].average_mileage

stats.ttest_ind(cars_1999,cars_2008)

Ttest_indResult(statistic=0.21960177245940962, pvalue=0.8263744040323578)

In [14]:
# Are compact cars more fuel-efficient than the average car?
compact_cars = mpg[mpg['class'] == 'compact'].average_mileage
non_compact = mpg[mpg['class'] != 'compact'].average_mileage
stats.ttest_ind(compact_cars, non_compact)

Ttest_indResult(statistic=6.731177612837954, pvalue=1.3059121585018135e-10)

In [ ]:
# Do manual cars get better gas mileage than automatic cars?

In [ ]:
manual_cars = mpg[mpg['trans'] == 'manua%%'].average_mileage
automatic_cars= mpg[mpg['trans'] == 'auto%%'].average_mileage