# Has the network latency gone up since we switched internet service providers?
- Null Hypothesis: latency has not changed
- Alternate Hypothesis:latency has gone up
- True Positive: latency has increased
- True Negative: latency has not changed even after changing ISP
- Type1 Error: shows change in ISp increased latency while it really did not
- Type2 Error: shows change in ISP has no effect when it really did

# Is the website redesign any good?


- Null Hypothesis: redesign has no significant impact 
- Alternate Hypothesis: redesign has positive impact
- True Positive:redesign has 
- True Negative: null hypothesis not rejected but seen positive impact
- Type1 Error: no any postive impact while we assumed it has
- Type2 Error: positive impact up but we assumed it has not

# Is our television ad driving more sales?

- Null Hypothesis: sales have not increased
-  Alternate Hypothesis: sales have increased
-  True Positive: sales have increased due to ad
-  True Negative: sales have not changed due to ad
-  Type1 Error: sales increased but not because of tv ad
-  Type2 Error: shows ad has no positive effect when in reality it has

### Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance

In [2]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
alpha = 0.05
# hypothesis
#Ho:Average time to sale home in office 1 = average time to sale in 2nd office
#Ha: Average time to sale home in 1st office != average time to sale in 2nd office

In [4]:
office_1 = stats.norm(90, 15).rvs(40)
office_2 = stats.norm(100, 20).rvs(50)

In [47]:
t, p =stats.ttest_ind(office_1,office_2, equal_var=False)
t,p,alpha

(-2.7524907074805958, 0.007193010050849466, 0.05)

In [48]:
print("Is p/2 less than alpha:", p/2 <alpha)
print('is t> 0:', t>0)
if (p/2 < alpha) & (t>0):
    print('null hypothesis rejected')
else:
    print('null hypothesis failed to be rejected')

Is p/2 less than alpha: True
is t> 0: False
null hypothesis failed to be rejected

In [10]:
# Load the mpg dataset and use it to answer the following questions:
from pydataset import data
mpg = data('mpg')
mpg =pd.DataFrame(mpg)
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [11]:
mpg['average_mileage']= (mpg.cty + mpg.hwy)/2
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0

In [40]:
# Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
cars_1999 = mpg[mpg.year == 1999].average_mileage
cars_2008 = mpg[mpg.year == 2008].average_mileage

stats.ttest_ind(cars_1999,cars_2008,equal_var=False)

## pvalue > alpha, no difference in fuel efficiency, null hypopthesis stands

Ttest_indResult(statistic=0.21960177245940962, pvalue=0.8263750772060638)

In [41]:
# Are compact cars more fuel-efficient than the average car?

#null hypothesis: compact cars have same or less fuel efficiency
# alternative hypothesis: compact cars have better fuel efficiency

compact_cars = mpg[mpg['class'] == 'compact'].average_mileage
non_compact = mpg[mpg['class'] != 'compact'].average_mileage
t, p =stats.ttest_ind(compact_cars, non_compact,equal_var=False)
t, p/2, alpha

(8.128810422808078, 8.009030328061537e-13, 0.05)

In [42]:
print("is p/2 < alpha? ", p/2 < alpha)
print("is t > 0? ", t > 0)
if (p/2 < alpha) & (t > 0):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

is p/2 < alpha?  True
is t > 0?  True
We reject the null hypothesis

In [43]:
# Do manual cars get better gas mileage than automatic cars?
mpg['type'] = np.where(mpg.trans.str.startswith('auto'),'Auto', 'Manual')
mpg.head(10)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage,is_automatic,type
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,Auto,Auto
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,Manual,Manual
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,Manual,Manual
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,Auto,Auto
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,Auto,Auto
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,22.0,Manual,Manual
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,22.5,Auto,Auto
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,22.0,Manual,Manual
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,20.5,Auto,Auto
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,24.0,Manual,Manual

In [44]:
#null hypothesis: manual cars have same or less fuel efficiency than automatic cars
# alternative hypothesis: manual cars have better fuel efficiency than automatic cars

manual_cars = mpg[mpg['type'] == 'Manual'].average_mileage
automatic_cars= mpg[mpg['type'] == 'Auto'].average_mileage

In [45]:
t, p =stats.ttest_ind(manual_cars, automatic_cars, equal_var=False)
t, p/2, alpha

(4.443514012903071, 8.976124499958965e-06, 0.05)

In [46]:
print("is p/2 < alpha? ", p/2 < alpha)
print("is t > 0? ", t > 0)
if (p/2 < alpha) & (t > 0):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

is p/2 < alpha?  True
is t > 0?  True
We reject the null hypothesis