In [90]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

#### A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

What is the probability that no cars drive up in the noon hour?

In [31]:
λ = 2
stats.poisson(λ).pmf(0)

0.1353352832366127

In [32]:
# What is the probability that 3 or more cars come through the drive through?
stats.poisson(λ).sf(2)

0.32332358381693654

In [36]:
# How likely is it that the drive through gets at least 1 car?
stats.poisson(λ).sf(0)

0.8646647167633873

### Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

In [34]:
mean= 3
std = .3
# What grade point average is required to be in the top 5% of the graduating class?
grades = stats.norm(mean, std)
grades.isf(.05)

3.4934560880854417

In [35]:
# What GPA constitutes the bottom 15% of the class?

grades.ppf(.15)

2.689069983151863

In [47]:
# An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. 
# Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?
grades.ppf((.2,.3))
#  yes 2.8 qualify

array([2.74751363, 2.84267985])

In [136]:
# If I have a GPA of 3.5, what percentile am I in?
# ans: 33 percentile
grades.pdf(3.5)

0.3315904626424956

### A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?

In [40]:
p= 0.02
n = 4326
clicks = stats.binom(n, p)
clicks

In [42]:
clicks.sf(96)

0.13975823631416445

### You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.What is the probability that at least one of your first 60 answers is correct?

In [48]:
n=100
stats.binom(60,.01).sf(0)

0.45284335760923855

### The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day? How likely is it that it goes two days without getting cleaned up? All week?

In [67]:
p = .03
n = .9*(3*22)
clean_eachday = stats.binom(n,p).sf(0)
clean_eachday

0.8362274861228872

In [68]:
# two days without cleaning
stats.binom(n,p).cdf(0) ** 2

0.026821436301629097

In [75]:
#all week without cleaning
stats.binom(n,p).cdf(0) ** 5

0.00011781621791055168

### You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [76]:
mean= 15
std = 3
n_people = (60-15-10)// 2
la_pana = stats.norm(mean, std)
la_pana

In [77]:
la_pana.cdf(n_people)

0.7475074624530771

###  Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

In [109]:
import env
sql='''
select * from salaries
where salaries.to_date like "9999%%"
'''
url = f'mysql+pymysql://{env.username}:{env.password}@{env.host}/employees'
salaries = pd.read_sql(sql, url)
salaries

        emp_no  salary   from_date     to_date
0        10001   88958  2002-06-22  9999-01-01
1        10002   72527  2001-08-02  9999-01-01
2        10003   43311  2001-12-01  9999-01-01
3        10004   74057  2001-11-27  9999-01-01
4        10005   94692  2001-09-09  9999-01-01
...        ...     ...         ...         ...
240119  499995   52868  2002-06-01  9999-01-01
240120  499996   69501  2002-05-12  9999-01-01
240121  499997   83441  2001-08-26  9999-01-01
240122  499998   55003  2001-12-25  9999-01-01
240123  499999   77303  2001-11-29  9999-01-01

[240124 rows x 4 columns]

In [138]:
salaries.salary.describe()

count    240124.000000
mean      72012.235857
std       17309.995380
min       38623.000000
25%       59048.750000
50%       69805.000000
75%       82546.000000
max      158220.000000
Name: salary, dtype: float64

In [118]:
mean = 72012.2358
std = 17309.9953

In [147]:
# What percent of employees earn less than 60,000?
emp_salary = stats.norm(mean, std)
emp_salary
print(f'{emp_salary.cdf(60000).round(2)} percent earns less than 60,000 USD')

0.24 percent earns less than 60,000 USD

In [148]:
# What percent of employees earn more than 95,000?
print(f'{emp_salary.sf(95000).round(3)} percent makes more than 95,000 USD')

0.092 percent makes more than 95,000 USD

In [150]:
# What percent of employees earn between 65,000 and 80,000?
print(f'{(emp_salary.cdf(80000)- emp_salary.cdf(65000)).round(2)} percent earn between 65000 USD and 80000 USD')

0.34 percent earn between 65000 USD and 80000 USD

In [125]:
# What do the top 5% of employees make?
emp_salary.isf(.05).round(2)

100484.64

In [151]:
print(f'top 5% of employees make {emp_salary.isf(.05).round(2)} USD')

top 5% of employees make 100484.64 USD